.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
}


.callContainer{
width:80%;
height:80%;
background:#111;
border-radius:20px;
overflow:hidden;
display:flex;
flex-direction:column;
}


.videoContainer{
flex:1;
position:relative;
display:flex;
justify-content:center;
align-items:center;
}
.remoteVideo{
width:100%;
height:100%;
object-fit:cover;
background:black;
}
.localVideo{
position:absolute;
width:220px;
height:150px;
bottom:20px;
right:20px;
border-radius:15px;
object-fit:cover;
border:3px solid white;
background:#333;
}
.controls{
height:80px;
display:flex;
justify-content:center;
align-items:center;
}
.endButton{
width:55px;
height:55px;
border-radius:50%;
border:none;
background:red;
color:white;
font-size:22px;
cursor:pointer;
margin:0px 10px;
}
.controlButton{
width:55px;
height:55px;
border-radius:50%;
border:none;
background:#444;
color:white;
font-size:22px;
cursor:pointer;
margin:0 10px;
transition:0.2s;
}

.controlButton:hover{
background:#666;
}